.parentContainer
{
    background-color: azure;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.inputHolder
{
    background-color: antiquewhite;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-width: 900px;
    margin: auto;
}